<style>
#city-footer {
	width: 100%;
	height: 273px;
	background-image: url(<%= asset_path 'skyline.png' %>);
	background-position: 0px 0px;
	background-position-x: 0px;
	background-position-y: 0px;
	position: absolute;
  bottom: 60px;
}
</style>
<%= image_tag "hackohiotextlogo.png" %>
<h1>Sponsor Portal</h1>
