<h1>Users</h1>

<% @users.each do |user| %>
	<p> 
		<%= user.full_name %> / <%= user.user_type.titleize %> 
		<% if current_user.admin? && !user.admin? %>
			<%= link_to "Make Admin", make_admin_user_path(user.username), class: "btn btn-default", method: :patch %>
		<% end %>
		<% if current_user.admin? && current_user.username != user.username %>
			<%= link_to "Delete User", user_path(user.username), class: "btn btn-default", method: :delete %>
		<% end %>
	</p>
<% end %>