// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'proximanova';
  src: font-url('ProximaNova-Thin.otf');
  font-weight: lighter;
  font-style: normal;
}

.content p {
  font-family: 'proximanova';
}

h1 {
	font-family: 'proximanova', Proxima Nova, Helvetica, Sans-Serif;
	text-align: center;
	color: #BB0000;
	font-size: 90px;
	margin-top: 35px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
}
