<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <p class="text-muted text-left">&copy; <%= Date.today.year %> Emily Engle, Kyle Thompson, Kevin Unkrich</p>
      </div>
      <div class="col-md-6 col-xs-6">
        <p class="text-muted text-right"><a href="https://github.com/emilyengle/hackathon-portal" target="_blank">Source (GitHub)</a></p>
      </div>
    </div>
  </div>
</footer>
